<div class="container pt-3">
    <div class="row">
        <div class="text-center">
            <h1>Gerenciador de Veículos</h1>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12">
            <label for="searchForId">Pesquise pelo id:</label>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Insira o id">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Pesquisar</button>
            </div>
        </div>
    </div> -->


    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <!-- <th *ngFor="let key of heroesKeys" scope="col">{{key}}</th> -->
                    <th>Id</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Cor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th></th>
                    <td>Fastback</td>
                    <td>Fiat</td>
                    <td>Prata</td>
                </tr>
                <!-- <tr *ngFor="let hero of $heroesList | async">
                    <th scope="row">{{hero.id}}</th>
                    <td scope="row">{{hero.name | titlecase}}</td>
                    <td scope="row">{{hero.nameHero | titlecase}}</td>
                    <td scope="row">
                        <div *ngFor="let power of hero.superpowers">{{power.superPower| titlecase}}
                        </div>
                    </td>
                    <td scope="row">{{hero.birthdate | date: 'dd/MM/yyyy'}}</td>
                    <td scope="row">{{hero.height}}</td>
                    <td scope="row">{{hero.weight}}</td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>
<!-- <app-credit-solicitation></app-credit-solicitation> -->
<!-- <app-finance-simulator></app-finance-simulator> -->
