<form class="row py-3 mx-4 my-2 border justify-content-center rounded">
    <div class="col-12 col-md-5 justify-content-center">
        <div class="mb-2">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" id="name">
        </div>

        <div class="mb-2">
            <label for="nameHero" class="form-label">Nome de Herói</label>
            <input type="text" class="form-control" id="nameHero">
        </div>

        <div class="mb-2">
            <label for="weight" class="form-label">Peso</label>
            <input type="number" class="form-control" id="weight">
        </div>
    </div>

    <div class="col-12 col-md-5 justify-content-center">
        <div class="mb-2">
            <input type="checkbox" id="inputDtNascimento">
            <label for="dtNascimento" class="form-label">Data de Nascimento</label>
            <input type="date" class="form-control" id="dtNascimento">
        </div>

        <div class="mb-2">
            <label for="height" class="form-label">Altura</label>
            <input type="number" class="form-control" id="height">
        </div>

        <div class="mb-2 col-12 justify-content-center ">
            <div class="row">
                <label class="form-label">Super-poderes:</label>
                <div class="row" >

                    <div class="form-check col-12 col-sm-6 col-md-12 col-lg-6" >
                        <input type="checkbox">
                        <label  class="form-label"></label>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="row justify-content-center my-2">
        <button type="submit" class="btn btn-success col-5">Confirmar</button>
    </div>
</form>