<form [formGroup]="creditSolicitationForm" class="row py-3 mx-4 my-2 border justify-content-center rounded">
    <div class="col-12 col-md-5 justify-content-center">
        <div class="mb-2">
            <label for="carModel" class="form-label">Modelo</label>
            <input formControlName="model" type="text" class="form-control" id="carModel"
                [ngClass]="{'invalid':creditSolicitationForm.get('model')?.errors  && (creditSolicitationForm.get('model')?.dirty || creditSolicitationForm.get('model')?.touched) }" />
            <div *ngIf="creditSolicitationForm.controls['model']?.invalid && (creditSolicitationForm.controls['model']?.dirty || creditSolicitationForm.controls['model']?.touched)"
                class="invalid">
                Campo Obrigatório
            </div>
        </div>

        <div class="mb-2">
            <label for="carBrand" class="form-label">Marca</label>
            <input formControlName="brand" type="text" class="form-control" id="carBrand"
                [ngClass]="{'invalid':creditSolicitationForm.get('brand')?.errors  && (creditSolicitationForm.get('brand')?.dirty || creditSolicitationForm.get('brand')?.touched) }" />
            <div *ngIf="creditSolicitationForm.controls['brand']?.invalid && (creditSolicitationForm.controls['brand']?.dirty || creditSolicitationForm.controls['brand']?.touched)"
                class="invalid">
                Campo Obrigatório
            </div>
        </div>

        <div class="mb-2">
            <label for="carColor" class="form-label">Cor</label>
            <input formControlName="color" type="text" class="form-control" id="carColor"
                [ngClass]="{'invalid':creditSolicitationForm.get('color')?.errors  && (creditSolicitationForm.get('color')?.dirty || creditSolicitationForm.get('color')?.touched) }" />
            <div *ngIf="creditSolicitationForm.controls['color']?.invalid && (creditSolicitationForm.controls['color']?.dirty || creditSolicitationForm.controls['color']?.touched)"
                class="invalid">
                Campo Obrigatório
            </div>
        </div>
        <div class="mb-2">
            <label for="carPrice" class="form-label">Preço</label>
            <input formControlName="price" type="text" class="form-control" id="carPrice"
                [ngClass]="{'invalid':creditSolicitationForm.get('price')?.errors  && (creditSolicitationForm.get('price')?.dirty || creditSolicitationForm.get('price')?.touched) }" />
            <div *ngIf="creditSolicitationForm.controls['price']?.invalid && (creditSolicitationForm.controls['price']?.dirty || creditSolicitationForm.controls['price']?.touched)"
                class="invalid">
                Campo Obrigatório
            </div>
        </div>
    </div>

    <div class="row justify-content-center my-2">
        <button type="button" [disabled]="!this.creditSolicitationForm.valid" class="btn btn-secondary col-5"
            (click)="ConfirmClick()">Confirmar</button>
    </div>
</form>